@font-face {
    src: url(fonts/OpenSans-VariableFont_wdth,wght.ttf);
    font-family: opensans;
}

html,body{
    margin: 0;
    font-family: opensans;
    height: 100%;
}

.home{

    width: 100%;
    min-height: 100%;
}

.bar{
    display: flex;
    align-items: center;
    color: black;
    justify-content: center;
    width: 100%;
}
.page-selector{
    display: block;
}

.simic-logo{
    margin-right: 1.3%;
}

.page-link{
    text-decoration: none;
    margin: 30px;
    color: black;
    opacity: 62%;
    text-align: center;
}

.info{
    display: flex;
    text-align: justify;
    background-color: white;
    justify-content: center;
    margin-bottom: 2.5%;
    opacity: 0.7;
    height: 7%;
}

.miniinfo{
    display: flex;
    align-items: center;
    margin-right: 1%;
   
}

.infoimage{
    padding-right: 20px;
    margin-bottom: 30px;
}

.infopar{
    opacity: 70%;
    margin-top: 0%;
    margin-bottom: 5%;
}

.uslugebody{
    text-align: left;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 29%;
}


.mainuslugebody{
    margin-top: 5px;
    padding-right: 1rem;
    padding-left: 1rem;
}

.uslugebody p{
  color: rgba(0, 0, 0, 0.47);
}

.titleusluge{
    color: rgba(58, 185, 187, 1);
    font-weight: 500;
}

.prot{
    color: rgba(0, 0, 0, 0.47);
}

.firstparagraph{
    text-align: initial;
}

.parandimage{
    display: flex;
    justify-content: space-between;
}

.patientimg{
    float: right;
}

.uslugebody p {
    margin: 0;
}

.uslugebody h4{
    color: rgba(58, 185, 187, 1);
}

.firsth4{
    margin-top: 0;
}

.footer{
    background-image: linear-gradient(rgba(58, 185, 187, 1), rgba(37, 153, 219, 1));
    color: white;
    padding: 5px;
    text-align: center;
    margin-top: 10px;
    
}

@media only screen and (max-width: 768px){
    .hamburger{
        display: block;
        margin-right: 5px;
        }
        .hamburger .active .bars:nth-child(2){
            opacity: 0;
        }
        .hamburger .active .bars:nth-child(1){
            transform: translateY(8px) rotate(45deg);
        }
        .hamburger .active .bars:nth-child(0){
            transform: translateY(-8px) rotate(45deg);
        }
        .bars{
            display: block;
            width: 1.5rem;
        height: 0.25rem;
        background-color: rgba(37, 153, 219, 1);
        margin: 5px 0;
    
            
        }
    
       .bar .page-selector{
            display: none;
           flex-direction: column;
           margin-right: 15%;
        font-size: 3vw;
        }
    
        .page-link{
            color: black;
            margin: 10px;
        }
        .bar{
            font-size: 80%;
            justify-content: space-between;
            overflow: hidden;
        }
        .simic-logo{
            width: 25%;
        }
        .info{
            font-size: 1%;
           
            margin: 3px;
        }
        .infoimage{
            width: 10%;
            margin: 0;
            padding-right: 5%;
        }
        .miniinfo{
            margin: 0%;
        }
        .infopar{
            width: 100%;
            font-size: 2vw;
            margin: 0;
            text-align:left;
            text-decoration: none;
        }
    .firstparagraph{
        display: flex;
        flex-direction: column;
    }

    .uslugebody{
        margin: 0;
        width: 100%;
        margin-bottom: 5%;
    }

    .parandimage{
        font-size: 3.5vw;
        margin-bottom: 5%;
        align-items: center;
    }

    .patientimg{
        width: 40%;
        height: 100%;
        float: right;
    }

    .uslugebody p{
        font-size: 3.5vw;
    }

    .uslugebody h4{
        font-size: 3.5vw;
    }

    .footer p{
        font-size: 3vw;
        margin: 2%;
    }
}